.container {
    margin: 1%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(10, 8, 8);
  }
  
  .container Button {
    margin-left: 35%;
  }